<nav class="navbar">
  <div class="navbar__logo">
    <span routerLink="/">GetJobs</span>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu" class="navbar__button">
      {{ userName }}
    </button>
    <a class="navbar__link">Logout</a>
    <button *ngIf="type === 'client'" class="create__btn">
      <a class="create__link" routerLink="create-job">Create Job</a>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <a routerLink="follow-up" mat-menu-item>Follow up</a>
      <a routerLink="profile" mat-menu-item>Profile</a>
    </ng-template>
  </mat-menu>
</nav>
