<nav class="navbar">
  <div class="navbar__logo">
    <span routerLink="/">GetJobs</span>
  </div>

  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      *ngIf="user"
      class="navbar__button"
    >
      {{ user.username }}
    </button>
    <a *ngIf="user" class="navbar__link" (click)="logout()">Logout</a>
    <button *ngIf="user?.userType === 'clients'" class="create__btn">
      <a class="create__link" routerLink="create-job">Create Job</a>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <a routerLink="follow-up" mat-menu-item>Follow up</a>
      <a routerLink="profile" mat-menu-item>Profile</a>
    </ng-template>
  </mat-menu>
</nav>
