<mat-card class="job__card">
  <mat-card-title>{{ jobTitle }}</mat-card-title>
  <mat-card-subtitle>{{ joPosterName }}</mat-card-subtitle>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'130'">
    {{ jobDesription }}
  </mat-card-content>
  <mat-card-actions align="start">
    <button
      class="job__button"
      *ngIf="
        userType === 'freelancers' &&
        currentPage !== 'followUp' &&
        jobStatus !== 'in-progress'
      "
      mat-button
      (click)="applyForJob()"
    >
      Apply
    </button>
    <button *ngIf="jobStatus" class="job__button">
      {{ jobStatus }}
    </button>
  </mat-card-actions>
</mat-card>
