<mat-card class="job__card">
  <mat-card-title>{{ jobTitle }}</mat-card-title>
  <mat-card-subtitle>{{ joPosterName }}</mat-card-subtitle>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'130'">
    {{ jobDesription }}
  </mat-card-content>
  <mat-card-actions align="start">
    <button
      class="job__button"
      *ngIf="userType === 'freelancer' && currentPage !== 'followUp'"
      mat-button
    >
      Apply
    </button>
    <button *ngIf="jobStatus && currentPage === 'followUp'" class="job__button">
      {{ jobStatus }}
    </button>
  </mat-card-actions>
</mat-card>
