.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #eee;
  border: 2px solid #6cb266;
  padding: 10px;
  margin: 80px auto;
  width: 40%;
}

.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &__title {
    font-size: 30px;
  }

  &__submitBtn {
    background-color: #6cb266;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 9px 25px;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;

    &:hover {
      background-color: #5a9c5a;
    }
  }

  &__invalid {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.icon {
  border: none;
  background-color: white;
}

.regisetr__link {
  margin-top: 20px;
}
